.resort-sec {
    background: #FBFAF7;
    padding: 60px 0;
   .container{
        h3 {
            font-weight: 600;
            font-size: 38px;
            line-height: 150%;
            color: #000000;
    }
}

}