// font
$main-font:'Pretendard';
$sub-font: 'SUIT';

// color
$colorFF:#FFFFFF;
$color00:#000000;
$color2B:#2B3D66;
$color66:#666666; 
$color33:#333333;
$color4C:#4C4C4C;
$colorA4:#A4A4A4;
$color18:#181818;
$colorAC:#7592AC;
$colorA9:#569AA9;
$colorF3:#FAF7F3;
$color34:#06BE34;
$colorFE:#FEE500;
$color82:#828282;
$color40:#EF4040;
$colorCF:#CFCFCF;
$colorFA:#FAFAFA;
$color6C:#BF9E6C;
$colorF2:#F2F2F2;
$colorE0:#E0E0E0;
$colorE5:#E5E5E5;
$color77:#6F7177;
$colorF7:#FBFAF7;
$color82:#828282;
$colorEB:#EB5757;
$colorFB:#F5FAFB;
$colorC8:#C87CA0;
$colorF8:#F8F8F8;
$color277:#A95277;
$colorB8:#4A71B8;
$color9D:#B9B29D;
$color8B:#47808B;
$color5B:#A0855B;
$colorCB:#9AC2CB;
$colorBA:#78AEBA;